/*general*/
* {
    padding: 0px;
    margin: 0px;
}

body {
    color: #5f6368;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 15px;
}

/*header*/
#head {
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    margin-left: 30px ;
    margin-bottom: 20px;
    align-items: center;
}


.logo {
    width: 160px;
    height: 30px;
    cursor: pointer;
    margin-right: 20px;
}

ul {
    display: flex;
    flex: 2;
}

li {
    cursor: pointer;
    list-style-type: none;
    margin: 20px;
    transition: 0.3s;
}

.opciones:hover {
    color: black;
}

.fun_img {
    height: 25px;
    width: 25px;
}

#funciones {
    flex: 3;
    display: flex;
    justify-content: end;
}

.funciones {
    height: 40px;
    width: 40px;
    background-color: #ffff;
    border-radius: 90px;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.funciones:hover {
    background-color: #e9eaec;
}

/*cuerpo*/
#dispositivos {
    display: flex;
    align-items: center;
    margin-left: 80px;
    margin-bottom: 30px;
}

.img_dispo {
    width: 20px;
    margin-right: 10px;
}

.dispo_tall {
    width: 15px;
    margin-right: 10px;
}

.dispositivo {
    height: 10px;
    font-size:18px;
    margin-right: 10px;
    padding: 15px;
    display: flex;
    align-items: center;
    background-color: #ffff;
    color: #5f6368;
    cursor: pointer;
    border-radius: 20px;
    border-style: solid;
    border-color: #e9eaec;
    transition: 0.3s;
}

.dispositivo:hover {
    background-color: #ecedf0;
}

.text {
    margin-left: 20px;
    cursor: default;
    font-size: 20px;
}

/*aqui va al diseño de los juegos que aparecen en la pagina y los anuncios*/

#container {
    margin-left: 60px;
}

#container p {
    font-size: 15px;
}

h1 {
    color: black;
}

h4 {
    color: black;
}
#line {
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
}

#juego {
    width: 425px;
    padding: 15px;
    border-radius: 10px;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    transition: 0.3s;
}

#juego:hover {
    background-color: #ecedf0;
}

.juego_info {
    display:flex;
    flex-flow: wrap;
}

.text_game p {
    margin-top: 5px;
}
.demostracion {
    border-radius: 7px;
    width: 100%;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px gray;
}

.logo_game {
    border-radius: 10px;
    box-shadow: 0px 0px 5px gray;
    margin-right: 20px;
    width: 75px;
}

/*anuncios*/
#anuncio {
    margin-top: 60px;
    width: 1335px;
    height: 371px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3S;
}

#anuncio:hover {
    background-color: #ecedf0;
}

.anuncio {
    width: 100%;
    border-radius: 20px;
}



#anuncio2 {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    background-image: url(img/anuncio2.png);
    display: flex;
    align-items: end;
}

#anuncio3{

    width: 100%;
    height: 100%;
    border-radius: 20px;
    cursor: pointer;
    background-image: url(img/anuncio3.png);
    display: flex;
    align-items: end;
}

#contenedor {
    width: 1335px;
    height: 371px;
    padding: 15px;
    margin-top: 35px;
    display: flex;
    align-items:start;
    margin-bottom: 40px;
    border-radius: 20px;
    transition: 0.3S;
}

#contenedor:hover {
    background-color: #e9eaec;
}

.info_anuncio {
    display: flex;
    align-items: center;
    margin: 30px;
    color: #ffff;
}


.descargar {
    margin-left: 40px;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.descargar p {
    font-size: 5px;
    margin-top: 5px;
}

.btn_descargar {
    background-color: #28feaf;
    border-radius: 20px;
    height: 40px;
    width: 200px;
    color: black;
    cursor: pointer;
}
/*footer*/

footer {
    margin-right: 100px;
    margin-left: 20px;
}

#foot {
    display: flex;
    padding-top: 40px;
    margin-top: 30px;
    box-shadow: 1px -3px 3px -4px #5f6368;
}

.alaing {
    flex-direction: column;
    font-size: 14px;
    list-style: none;
    margin-top: 20px;
}

.pay {
    margin-bottom: 20px;
    color: #808694;
}

.one {
    flex: 1;
    margin-bottom: 20px;
}

.two {
    flex: 3;
}

#info {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.info {
    font-size: 11px;
    flex: 1;
}

.cont_lang {
    font-size: 12px;
}